@import url(./styles.css);

@media (max-width: 768px) {

  body {
    min-height: 100vh;
  }

  .contact-container {
    width: 90%;
    padding: var(--18px);
    max-width: var(--320px);

  }

  .name-fields {
    flex-direction: column;
  }

  .form-query-type {
    flex-direction: column;
  }

  .form-group textarea {
    min-height: 10rem;
    max-height: 16rem;
  }
}