@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Variable font supports all weights from 100 to 900 */
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Variable font supports all weights for italic */
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  background-color: #e8f6f8;
  color: #333;
}

.calculator-container {
  display: flex;
  max-width: 900px;
  max-height: 100vh;
  margin: 50px auto;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.calculator-input,
.calculator-results {
  flex: 1;
  padding: 2rem;
}

.calculator-results {
  background-color: #04553c;
  color: #fff;
  border-bottom-left-radius: 4rem;
}

.calculator-input {
  background: #f9fafa;
}

h1,
h2 {
  margin: 0;
  font-size: 1.5em;
}

h3 {
  margin: 10px 0;
  font-size: 1.2em;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a.clear-all {
  font-size: 0.9em;
  color: #666;
  cursor: pointer;
}

label {
  display: block;
  margin: 15px 0 5px;
}

.input-group {
  display: flex;
  align-items: center;
  background: #f7fafd;
  border-radius: 4px;
  border: 1px solid #cfd8dc;
}

.input-group input {
  border: none;
    background: transparent;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    cursor: pointer;
}
