@font-face {
  font-family: 'outfit';
  font-style: normal;
  font-weight: 100 900;
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'youngSerif';
  font-style: normal;
  font-weight: 100 900;
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf)
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1, h3 {
  font-family: 'youngSerif', sans-serif;
  font-weight: 400;
}

:root {
  --bg: #f3e6d7;
  --primary: #814833;
  --secondary: #884964;
  --tertiary: #fff7fb;
  --black: #000;
  --white: #fff;
  --sm-text: 1rem;
  --md-text: 1.5rem;
  --lg-text: 2rem;


}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--sm-text);
  margin-bottom: var(--sm-text);
}

body {
  font-family: 'outfit', sans-serif;
  background-color: var(--bg);
  color: var(--black);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
}

.recipe-container {
  max-width: 750px;
  padding: 1.5rem;
  background: var(--white);
  border-radius: var(--sm-text);
  display: flex;
  flex-direction: column;
  gap: var(--sm-text);
}

.attribution {
  font-size: var(--sm-text);
  text-align: center;
}

.attribution a {
  color: var(--primary);
}