@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

:root {
  --button: #333333ff;
  --lime: #c4f82aff;
  --bg: #141414ff;
  --profile: #1f1f1fff;
  --white: #f4f4f4ff;
  --1px: 0.0625rem;
  --2px: 0.125rem;
  --4px: 0.25rem;
  --8px: 0.5rem;
  --12px: 0.75rem;
  --16px: 1rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --48px: 3rem;
  --320px: 20rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: var(--24px);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
