/* General Reset */
@font-face {
  font-family: 'DMSans';
  src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 400;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-areas: 
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box5 box6 box3'
    'box4 box5 box6 box3'
    'box4 box5 box6 box3'
    'box4 box7 box8 box8'
    'box4 box7 box8 box8'
    'box4 box7 box8 box8';
  grid-template-rows: auto;
  max-width: 1280px;
  gap: 2rem;
  margin: 2rem auto;
}

.grid-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.item {
  background: #c0c0c0;
  padding: 3rem;
  border-radius: .5rem;
}

.create-schedule {
  grid-area: box1;
  background-color: #FAEEE2;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.create-schedule img {
  margin-top: 2rem;
}

.create-schedule span {
  color: #7651DC;
  font-style: italic;
}

.ai-social {
  grid-area: box2;
  background-color: #7651DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ai-social .first-p {
  font-size: 4rem;
  color: white;
  text-align: center;
  line-height: 1;
  margin-bottom: 1rem;
}

.ai-social .second-p {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  font-weight: 400;
  opacity: .8;
}

.ai-social img {
  width: 40%;
}

.ai-social .first {
  color: #FFCC69;
}

.write-content {
  grid-area: box4;
  background-color: #FFCC69;
  font-size: 3rem;
  letter-spacing: -2px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.write-content img {
  margin-top: 1rem;
}


.best-time {
  grid-area: box3;
  background-color: #DCD1FC;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.best-time img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 5.8rem;
  transform: scale(1.4);
  top: 11.5rem
}

.best-time .header {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
}

.best-time .text {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 400;
  margin-top: 20rem;
  opacity: .8;
}

.growth-stats {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-area: box8;
  background-color: #7651DC;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  padding: 2rem;
}

.growth-stats img {
  width: 50%;
}

.manage-platforms {
  grid-area: box5;
  background-color: #fff;
  position: relative;
  padding: 2rem;
}

.manage-platforms {
  grid-area: box5;
  background-color: #fff;
  position: relative;
  padding: 1rem 2rem;
  overflow: hidden;
}

.manage-platforms .text {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -2px;
  margin-top: 6rem;
}

.manage-platforms img {
  position: absolute;
  width: 100%;
  height: auto;
}

.maintain-schedule {
  grid-area: box6;
  background-color: #FFCC69;
  padding: 2rem;
  font-size: 2.3rem;
  position: relative;
  overflow: hidden;
  line-height: .9;
}

.maintain-schedule img {
  width: 80%;
  height: auto;
  position: absolute;
  margin-top: .9rem;
}

.faster-growth {
  grid-area: box7;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
  gap: 1rem;
  font-size: 1.2rem;
}

.faster-growth span {
  font-weight: 600;
  font-size: 4rem;
}

.faster-growth img {
  margin-top: auto;
}