@font-face {
  font-family: 'RedHatText-Bold';
  src: url(./assets/fonts/static/RedHatText-Bold.ttf);
}
@font-face {
  font-family: 'RedHatText-Regular';
  src: url(./assets/fonts/static/RedHatText-Regular.ttf);
}
@font-face {
  font-family: 'RedHatText-SemiBold';
  src: url(./assets/fonts/static/RedHatText-SemiBold.ttf);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
