@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightpink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  --bright-purple: hsl(291, 82%, 54%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--lightpink);
  color: var(--dark-purple);
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
}


/* Desktop Styles */

.main-header {
  background-image: url('./assets/images/background-pattern-desktop.svg');
  height: 20rem;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.faq-header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.faq-header img {
  width: 2.5rem;
  height: 2.5rem;
}

.faq-title {
  font-weight: 700;
  color: var(--dark-purple);
}

.faq-main {
  background-color: var(--white);
  margin-top: 10rem;
  width: 650px;
  height: auto;
  padding: 3rem;
  border-radius: 1rem;
}

.faq-question-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-question-container img {
  cursor: pointer;
}

.faq-question {
  font-size: 1.2rem;
  font-weight: 600;
}

.faq-question:hover {
  color: var(--bright-purple)
}

.faq-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-article:not(:last-child) {
  border-bottom: 1px solid var(--lightpink);
  padding-bottom: 1.5rem;
}

.faq-answer {
  display: none;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: var(--grayish-purple);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile Styles */

@media screen and (max-width: 768px) {
  body {
    padding: 2rem;
  }

  .main-header {
    height: 15rem;
  }

  .faq-header {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .faq-main {
    width: 100%;
    padding: 2rem;
  }

  .faq-question {
    font-size: 1.3rem;
    width: 80%;
  }

  .faq-section {
    gap: 2rem;
  }

  .faq-answer {
    font-size: 1.2rem;
    width: 95%;
    font-weight: 400;
    margin-top: 1rem;
  }

  .faq-article{
    padding-bottom: 2rem;
  }
}