@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 100 900;
  src: url('./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#ticket {
  display: none;
}
