@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 100 900;
  src: url('./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf')
    format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
}

body {
  font-family: 'Inconsolata', sans-serif;
  background-color: hsl(248, 70%, 10%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* PATTERN */

.pattern-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  transition: all 0.3s ease;
}
.pattern__circle {
  position: absolute;
  object-fit: cover;
  width: 20vw;
  top: 50%;
  left: 60%;
  animation: wiggle-1 15s ease-in-out infinite;
}
.pattern__lines {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.pattern__squiggly-top {
  position: absolute;
  object-fit: cover;
  width: 40vw;
  top: 10%;
  right: 0;
}

.pattern__squiggly-bottom {
  position: fixed;
  object-fit: cover;
  width: 50vw;
  bottom: 0;
  left: 0;
}

/* LOGO */
.ticket__logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: clamp(2rem, 10vw, 4rem);
  margin-top: clamp(1rem, 5vw, 3rem);
  padding: 0 2.3rem;
  text-align: center;
  max-width: 800px;
}

.header__title {
  font-size: clamp(2rem, 5vw, 3.5rem);
}

.header__description {
  font-size: clamp(1.2rem, 5vw, 1.3rem);
  color: hsl(244, 23%, 76%);
}
/* TICKET FORM */

.ticket-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  max-width: 450px;
}

/* UPLOAD */

.ticket-form__upload {
  margin-bottom: 1.5rem;
  width: 100%;
}

.upload__container {
  background-color: hsl(247, 55%, 15%);
  border-radius: 10px;
  height: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: 1px dashed hsl(245, 15%, 58%);
  transition: all 0.3s ease;
}

.upload__container:hover {
  background-color: hsl(245, 19%, 35%);
}

.upload__container.error {
  border-color: hsl(7, 88%, 67%);
}

.upload__container.dragover {
  background-color: hsl(245, 19%, 35%);
  border-color: hsl(7, 88%, 67%);
}

.upload__input {
  display: none;
}

.avatar__picture {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  border: 1px solid hsl(7, 86%, 67%);;
  object-fit: cover;
}

.upload__icon {
  background-color: hsl(247, 38%, 28%);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 0.4px solid hsl(245, 19%, 49%);
  padding: 5px;
}
.upload__message {
  font-size: 0.9rem;
  color: hsl(245, 17%, 72%);
  margin-top: 1rem;
}
.upload__info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: hsl(244, 23%, 76%);
}
.upload__info.error-info {
  color: hsl(7, 88%, 67%);
}
.upload__actions {
  display: none;
  gap: 1rem;
  margin-top: 1rem;
  color: hsl(248, 70%, 10%);
  border: none;
}
.remove-image,
.change-image {
  background-color: hsl(7, 88%, 67%);
  border-radius: 5px;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.remove-image:hover,
.change-image:hover {
  background-color: hsl(7, 51%, 51%);
  outline: 0.1px dashed hsl(0, 0%, 100%);
  color: #ffffff;
}

.upload__error-size, .upload__error-type {
  display: none;
  font-size: 0.9rem;
  font-weight: 300;
  gap: 0.5rem;
  color: hsl(7, 88%, 67%);
  align-items: center;
}
.hidden {
  display: none;
}
.info-icon {
  width: 20px;
  height: 20px;
  background-color: currentColor;
  -webkit-mask: url('./assets/images/icon-info.svg') no-repeat center;
  mask: url('./assets/images/icon-info.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* INPUTS */
.ticket-form__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.full-name,
.email,
.github-username {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  width: 100%;
}

.full-name__input,
.email__input,
.github-username__input {
  background-color: hsl(247, 55%, 15%);
  border-radius: 10px;
  border: 0.4px solid hsl(245, 15%, 58%);
  padding: 0.5rem;
  color: hsl(0, 0%, 100%);
  padding: 1rem 0.9rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 300;
}

.label {
  font-size: 1rem;
  letter-spacing: .5px;
  color: hsl(246, 25%, 77%);
  margin-bottom: 0.8rem;
}

.full-name__input:hover,
.email__input:hover,
.github-username__input:hover {
  background-color: hsl(245, 19%, 35%);
}

.full-name__input::placeholder,
.email__input::placeholder,
.github-username__input::placeholder {
  color: hsl(245, 17%, 72%);
  letter-spacing: 1px;
}

.full-name__input:focus,
.email__input:focus,
.github-username__input:focus {
  border: 0.5px solid hsl(198, 97%, 45%);
  outline: none;
}

/* ERROR */
.full-name__error,
.email__error,
.github-username__error {
  color: hsl(7, 88%, 67%);
  font-size: 0.8rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 0.8rem;
  gap: 0.5rem;
}

.error-input {
  border-color: hsl(7, 88%, 67%);
}

.hidden-input {
  display: none;
}

/* GENERATE BUTTON */

.generate-button {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: hsl(7, 88%, 67%);
  color: hsl(248, 70%, 10%);
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generate-button:hover {
  background-color: hsl(7, 63%, 55%);
}

.ticket {
  display: none;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  text-align: center;
  width: 100%;
}
.ticket__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 5vw, 3rem);
  margin-bottom: clamp(2rem, 5vw, 7rem);
  margin-top: clamp(0, 5vw, 3rem);
  padding: 0 1rem
}

.ticket__title {
  font-size: clamp(1.5rem, 6vw, 3.5rem);
}
.ticket__name {
  background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ticket__message {
  font-size: clamp(1rem, 3vw, 1.3rem);
  color: hsl(244, 23%, 76%);
  max-width: 450px;
  line-height: 1.5;
}
.ticket__email {
  color: hsl(7, 88%, 67%);
}

.ticket__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.ticket__info {
  display: flex;
  gap: clamp(.4rem, 3vw, 1rem);
  position: absolute;
  top: 13%;
  left: 5%;
}
.ticket__icon {
  width: clamp(20px, 8vw, 40px);
  height: clamp(20px, 8vw, 40px);
}
.ticket__event-details {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 3vw, 1.4rem);
}

.ticket__event {
  color: hsl(0, 0%, 100%);
  font-size: clamp(1.6rem, 5vw, 2.5rem);
  font-weight: 700;
  text-align: start;
  line-height: .6;
}
.ticket__date {
  color: hsl(244, 23%, 76%);
  font-size: clamp(.9rem, 3vw, 1.2rem);
}

/* AVATAR */

.ticket__avatar {
  display: flex;
  align-items: center;
  gap: clamp(.5rem, 3vw, 1rem);
  position: absolute;
  bottom: 8%;
  left: 4%;
}
.ticket__avatar-image {
  width: clamp(50px, 10vw, 80px);
  height: clamp(50px, 10vw, 80px);
  border-radius: 10px;
  object-fit: cover;
}
.ticket__avatar-details {
  display: flex;
  flex-direction: column;
  gap: clamp(.2rem, 1vw, .5rem);
}
.ticket__avatar-name {
  font-weight: 350;
  text-align: start;
  color: hsl(0, 0%, 100%);
  font-size: clamp(1rem, 3vw, 1.5rem);
}
.ticket__avatar-github {
  display: flex;
  align-items: center;
  gap: clamp(.2rem, 1vw, .5rem);
}
.ticket__avatar-github-icon {
  width: 24px;
  height: 24px;
}
.ticket__avatar-github-username {
  font-size: clamp(.9rem, 3vw, 1.2rem);
  font-weight: 300;
  color: hsl(244, 23%, 76%);
}

/* TICKET CODE */

.ticket__code {
  position: absolute;
  transform: rotate(90deg);
  right: 1.5%;
  font-size: clamp(1.2rem, 5vw, 2rem);
  font-weight: 300;
  color: hsl(245, 28%, 64%);
}
